Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [4]:
#Answer 1
a='Assignment'
b=[1,'st','assignment','consists','of',[1,2,3,4,5],'questions']
c=2.0
d=('1st','assignment','is','here',1)
print('(i) is',a)
print('(ii) is',b)
print('(iii) is',c)
print('(iv) is',d)

(i) is Assignment
(ii) is [1, 'st', 'assignment', 'consists', 'of', [1, 2, 3, 4, 5], 'questions']
(iii) is 2.0
(iv) is ('1st', 'assignment', 'is', 'here', 1)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.


What will be the data type of the above given variable.

In [17]:
#Answer 2
var1 = ''

var2 = '[ DS , ML , Python]'

var3 = [ 'DS' , 'ML' , 'Python' ]

var4 = 1.

print(' var1 is',type(var1),'\n var2 is',type(var2),'\n var3 is',type(var3),'\n var4 is',type(var4))

 var1 is <class 'str'>
 var2 is <class 'str'>
 var3 is <class 'list'>
 var4 is <class 'float'>

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %
(iii) //

(iv) **

In [ ]:
#Answer 3
''' 
/ is used for division
% is used for remainder
// is used for floor division
** is used for power of, also know as exponent in mathematics
'''

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
#Answer 4
var_list=[1,2.0,2+1j,'assignment',['l','i','s','t',1,2.0]]

for i in var_list:
    print('\nElement is ',i,'and type of element is ',type(i))

Element is  1 and type of element is  <class 'int'>

Element is  2.0 and type of element is  <class 'float'>

Element is  (2+1j) and type of element is  <class 'complex'>

Element is  assignment and type of element is  <class 'str'>

Element is  ['l', 'i', 's', 't', 1, 2.0] and type of element is  <class 'list'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [25]:
#Answer 5
print('Enter numerator')
a=int(input())
print('Enter denominator')
b=int(input())

if a%b==0:
    print('a is divisible by b and number of times divisible is ',a//b)
else:
    print('a is not divisible by b')

Enter numerator
9
Enter denominator
2
a is not divisible by b

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [26]:
#Answer 6
var_list = range(1,26)
for i in var_list:
    if i%3 ==0:
        print('\n',i,' is divisible by 3 ')
    else:
        continue

 3  is divisible by 3

 6  is divisible by 3

 9  is divisible by 3

 12  is divisible by 3

 15  is divisible by 3

 18  is divisible by 3

 21  is divisible by 3

 24  is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
'''
Answer 7
Mutable objects are those whose elements can be changed or edited for example a list, element of list can be changed.

Immutable objects are those whose elements cannot be changed for example a string. Any particular element (index) 
of cannot be changed.
'''